[submodule "modules/compensation-js"]
	path = modules/compensation-js
	url = https://github.com/mfressdorf/compensation-js
[submodule "modules/compensation-request"]
	path = modules/compensation-request
	url = https://github.com/mfressdorf/compensation-request
[submodule "modules/api-monkey"]
	path = modules/api-monkey
	url = https://github.com/mfressdorf/api-monkey
[submodule "modules/transaction-utility-amqp"]
	path = modules/transaction-utility-amqp
	url = https://github.com/mfressdorf/transaction-utility-amqp
